body {
  font-family: sans-serif;
  position: relative;
  background-color: #f6f7f8;
  position: relative;
}
h1 {
  color: rgb(85, 85, 85);
}
p {
  color: rgb(128, 128, 128);
}

.btn_yellow {
  border-radius: 10px;
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: rgba(243, 192, 73, 1);
}
img {
  display: block;
  max-width: 100%;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: visibility, opacity;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
}

.popup__close {
  position: absolute;
  right: 0.625em;
  top: 0.625em;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.input {
  border-radius: 10px;
  padding: 6px 20px;
  width: 200px;
  align-items: center;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  align-items: center;
  gap: 5px;
}

.images-container__item {
  overflow: hidden;
  height: 100%;
}

.images-container__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.paginator-btns {
  display: flex;
  gap: 5px;
}

.btn {
  border: 2px solid black;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.btn.active {
  border-color: #f3c049;
}
